.parrafo {
    padding: 1rem;
    border: 2px solid black;
    border-radius: 1.5rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.543);
    margin: 1rem;
}
.botonesDiv{
    display: flex;
    margin-right: 0.5rem;
    margin-left: 0.5rem;

}
button {
    width:50vw;
    height: 4rem;
    font-size: large;
}

.selected{
    background-color: rgb(255, 140, 140);
}

.fondoEscena{
    background-color: red;
}